<div class="social-share">
  <ul class="socialcount socialcount-small inline-list">
    <li class="facebook"><a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook"><span class="count"><i class="fa fa-facebook-square"></i> Like</span></a></li>
    <li class="twitter"><a href="https://twitter.com/intent/tweet?text={{ site.url }}{{ page.url }}" title="Share on Twitter"><span class="count"><i class="fa fa-twitter-square"></i> Tweet</span></a></li>
    <li class="googleplus"><a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Share on Google Plus"><span class="count"><i class="fa fa-google-plus-square"></i> +1</span></a></li>
    <li class="wechat">
          <a class="qrcode" title="Share on Phone"><span class="count"><i class="fa fa-weixin"></i> Moments</span></a>
          <div class="popPanel" style="right:66px;">
            <div class="popPanel-inner">
              <div class="qrcodePanel">
                  <div id="qrcode"></div><script type="text/javascript">new QRCode(document.getElementById("qrcode"), "{{ site.url }}{{ page.url }}");</script>
                <p>扫描二维码用手机看文章</p></div>
            </div>
          </div>
      </li>
      <li class="weibo" title="Share on Weibo"><script type="text/javascript">document.write('<a href="http://v.t.sina.com.cn/share/share.php?url='+encodeURIComponent(location.href)+'&title='+encodeURIComponent('分享来自Matrix64的「{{page.title}}」') +'&pic='+encodeURIComponent('{{ page.image.feature }}') +'"&appkey=433903842&pic"   class="t1" target="_blank"> <span class="count"><i class="fa fa-weibo"></i> weibo</span></a>');</script></li>
  </ul>
</div><!-- /.social-share -->