/* ==========================================================================
   Back to top
   ========================================================================== */

   #back-top {
	position: fixed;
	bottom: 30px;
	margin-left: 87%;
  }
  #back-top a {
	width: 54px;
	height: 54px;
	display: block;
	background: url(/images/upArrow.png) no-repeat center center;
	//background-color: #aaa;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
  }
  #back-top a:hover {
	background: url(/images/upArrow2.png) no-repeat center center;
	transition: 1s;
  }